.form-item {
    color: #fff;
    background-color: transparent;
    border-width: 1.6px;
    border-radius: .5rem;
    outline: none;
    width: 100%;
    transition-duration: 500ms;
    padding: .5rem;
}

.input-field {
    display: flex;
    width: 100%;
}

label {
    font-size: 16px;
    position: absolute;
    transform-origin: top left;
    transform: translate(20px, 10px) scale(1);
    transition: all .3s ease-in-out;
    color: #777;
    user-select: none;
    pointer-events: none;
}

input { order: 2; }

label { order: 1; }

input:valid + label, input:focus + label,
textarea:valid + label, textarea:focus + label {
    transform: translate(.7rem, -0.6rem) scale(.75);
    color: #fff;
    background: #000;
    padding: 0 12px;
}

