:root {
  --mainColor: #2b2726;
}

::selection {
  background-color: var(--mainColor);
}

.nav-item:after {
    transition: all ease-in-out .3s;
    background: none repeat scroll 0 0 #cda154;
    content: "";
    display: block;
    height: 1.8px;
    width: 0;
}
.nav-item:hover:after {
    width: 100%;
}
