@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: black;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background-color: #2b2726;
}


